services:
  api:
    build: ./app
    ports:
      - "18001:8000"
    networks:
      - exp-net
    depends_on:
      - ollama
      - qdrant

  apicrewai:
    build: ./appCrewaiMultiAgents
    ports:
      - "18000:8000"
    networks:
      - exp-net
    depends_on:
      - ollama
      - qdrant
      - daskscheduler

  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    ports:
      - "11434:11434"
    networks:
      - exp-net
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    networks:
      - exp-net
    volumes:
      - qdrant-data:/qdrant/storage
    restart: unless-stopped

  # Begin of Dask ***********
  # daskscheduler:
  #   image: daskdev/dask
  #   command: dask-scheduler
  #   ports:
  #     - "8786:8786"
  #     - "8787:8787"
  #   networks:
  #     - exp-net

  daskscheduler:
    build:
      context: .
      dockerfile: ./daskworker/Dockerfile
    command: dask-scheduler
    ports:
      - "8786:8786"
      - "8787:8787"
    networks:
      - exp-net

  daskworker1:
    build:
      context: .
      dockerfile: ./daskworker/Dockerfile
    command: dask worker tcp://daskscheduler:8786
    networks:
      - exp-net
    depends_on:
      - daskscheduler

  daskworker2:
    build:
      context: .
      dockerfile: ./daskworker/Dockerfile
    command: dask worker tcp://daskscheduler:8786
    networks:
      - exp-net
    depends_on:
      - daskscheduler

  dasktest:
    build:
      context: ./dasktest
      dockerfile: Dockerfile
    command: python test_dask.py
    networks:
      - exp-net
    depends_on:
      - daskscheduler
      - daskworker1
      - daskworker2

  vectorapi:
    build: ./appVectorApi
    ports:
      - "18002:8000"
    networks:
      - exp-net
    depends_on:
      - qdrant
      - daskscheduler

networks:
  exp-net:

volumes:
  ollama-data:
  qdrant-data:
