# Begin of Base
services:
  # api:
  #   build: ./app
  #   ports:
  #     - "18001:8000"
  #   networks:
  #     - exp-net
  #   depends_on:
  #     - ollama
  #     - qdrant

  ollama:
    build:
      context: ./ollama
      dockerfile: Dockerfile
    ports:
      - "11434:11434"
    networks:
      - exp-net
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    networks:
      - exp-net
    volumes:
      - qdrant-data:/qdrant/storage
    restart: unless-stopped

  # Begin of Dask ***********
  daskscheduler:
    build:
      context: ./daskscheduler
      dockerfile: Dockerfile
    ports:
      - "18786:8786"
      - "18787:8787"
    networks:
      - exp-net
    volumes:
      - D:/DockerVolumes/privacy/RareEvents/data:/data
      - D:/DockerVolumes/privacy/RareEvents/output:/output

  daskworker1:
    build:
      context: ./daskworker
      dockerfile: Dockerfile
    command: dask worker tcp://daskscheduler:8786
    networks:
      - exp-net
    volumes:
      - D:/DockerVolumes/privacy/RareEvents/data:/data
      - D:/DockerVolumes/privacy/RareEvents/output:/output
    depends_on:
      - daskscheduler

  daskworker2:
    build:
      context: ./daskworker
      dockerfile: Dockerfile
    command: dask worker tcp://daskscheduler:8786
    networks:
      - exp-net
    volumes:
      - D:/DockerVolumes/privacy/RareEvents/data:/data
      - D:/DockerVolumes/privacy/RareEvents/output:/output
    depends_on:
      - daskscheduler

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672" # RabbitMQ messaging port
      - "15672:15672" # RabbitMQ Management UI
    networks:
      - exp-net
    environment:
      RABBITMQ_DEFAULT_USER: your_user
      RABBITMQ_DEFAULT_PASS: your_strong_password
    volumes:
      # - /d/DockerVolumes/privacy/RareEvents/RabbitMQ:/var/lib/rabbitmq
      - D:/DockerVolumes/privacy/RareEvents/RabbitMQ:/var/lib/rabbitmq
    restart: unless-stopped

  # End of Base

  # Begin of Extras
  dasktest:
    build:
      context: ./dasktest
      dockerfile: Dockerfile
    command: python test_dask.py
    networks:
      - exp-net
    depends_on:
      - daskscheduler
      - daskworker1
      - daskworker2

  vectorapi:
    build: ./appVectorApi
    ports:
      - "18002:8000"
    networks:
      - exp-net
    depends_on:
      - qdrant
      - daskscheduler

  vectorvisualizer:
    build: ./appVectorVisualizer
    ports:
      - "18003:8000"
    networks:
      - exp-net
    depends_on:
      - qdrant

  app-qdrant-visualizer:
    build: ./app-Qdrant-Visualizer
    ports:
      - "18004:8000"
    networks:
      - exp-net
    depends_on:
      - qdrant

  app-qdrant-analyzer:
    build: ./app-Qqdrant-Analyzer
    ports:
      - "18005:8000"
    networks:
      - exp-net
    depends_on:
      - qdrant
  # End of Extras

  # Begin Flow 1
  ## Begin of Flow 1 Data Ingestion
  dask-csv-worker-flow-2-with-ai:
    build:
      context: ./dask-csv-worker-flow-2-with-ai
      dockerfile: Dockerfile
    command: python reader.py
    networks:
      - exp-net
    volumes:
      - D:/DockerVolumes/privacy/RareEvents/data:/data
      - D:/DockerVolumes/privacy/RareEvents/output:/output
    depends_on:
      - daskscheduler
      - daskworker1
      - daskworker2

    ## End of Flow 1 Data Ingestion

  ## Begin of appcrewaimultiagents
  appcrewaimultiagents:
    build: ./appcrewaimultiagents
    ports:
      - "18000:8000"
    networks:
      - exp-net
    depends_on:
      - ollama
      - qdrant
  ## End of appcrewaimultiagents

  ## Begin of text-processor-flow-2-With-AI
  text-processor-flow-2-With-AI:
    build:
      context: ./text-processor-flow-2-With-AI
    networks:
      - exp-net
    depends_on:
      - rabbitmq
      - appcrewaimultiagents
      - ollama
      - qdrant
  ## End of text-processor-flow-2-With-AI

  ## Begin of Flow 1 Text Vectorize
  text-vectorizer-flow-2-With-AI:
    build: ./text-vectorizer-flow-2-With-AI
    depends_on:
      - rabbitmq
      - daskscheduler
      - qdrant
    networks:
      - exp-net
    environment:
      - PYTHONUNBUFFERED=1
  ## End of Flow 1 Text Vectorize

  # End of Flow 1

  # Begin Flow 2
  ## Begin of Flow 2 Data Ingestion
  dask-csv-worker-flow-1-Without-AI:
    build:
      context: ./dask-csv-worker-flow-1-Without-AI
      dockerfile: Dockerfile
    command: python reader.py
    networks:
      - exp-net
    volumes:
      - D:/DockerVolumes/privacy/RareEvents/data:/data
      - D:/DockerVolumes/privacy/RareEvents/output:/output
    depends_on:
      - daskscheduler
      - daskworker1
      - daskworker2
  ## End of Flow 2 Data Ingestion
  ## Begin of Flow 2 Text Vectorize
  text-vectorizer-flow-1-Without-AI:
    build: ./text-vectorizer-flow-1-Without-AI
    depends_on:
      - rabbitmq
      - daskscheduler
      - qdrant
    networks:
      - exp-net
    environment:
      - PYTHONUNBUFFERED=1

## End of Flow 2 Text Vectorize

# End of Flow 2

networks:
  exp-net:

volumes:
  ollama-data:
  qdrant-data:
