services:
  api:
    build: ./app
    ports:
      - "18001:8000"
    depends_on:
      - ollama
      - qdrant

  apicrewai:
    build: ./appCrewaiMultiAgents
    ports:
      - "18000:8000"
    depends_on:
      - ollama
      - qdrant

  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant-data:/qdrant/storage
    restart: unless-stopped

volumes:
  ollama-data:
  qdrant-data:
