services:
  api:
    build: ./app
    ports:
      - "18001:8000"
    networks:
      - exp-net
    depends_on:
      - ollama
      - qdrant

  apicrewai:
    build: ./appCrewaiMultiAgents
    ports:
      - "18000:8000"
    networks:
      - exp-net
    depends_on:
      - ollama
      - qdrant
      - daskscheduler

  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    ports:
      - "11434:11434"
    networks:
      - exp-net
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    networks:
      - exp-net
    volumes:
      - qdrant-data:/qdrant/storage
    restart: unless-stopped

  # Begin of Dask ***********
  daskscheduler:
    image: daskdev/dask
    command: dask-scheduler
    ports:
      - "8786:8786"
      - "8787:8787"
    networks:
      - exp-net

  # daskscheduler:
  #   container_name: daskscheduler
  #   build:
  #     dockerfile: ./daskworker/Dockerfile
  #   command: dask-scheduler
  #   ports:
  #     - "8786:8786"
  #     - "8787:8787"
  #   networks:
  #     - exp-net

  daskworker1:
    build:
      context: .
      dockerfile: ./daskworker/Dockerfile
    command: dask worker tcp://daskscheduler:8786
    networks:
      - exp-net
    depends_on:
      - daskscheduler

  daskworker2:
    build:
      context: .
      dockerfile: ./daskworker/Dockerfile
    command: dask worker tcp://daskscheduler:8786
    networks:
      - exp-net
    depends_on:
      - daskscheduler

  dasktest:
    build:
      context: ./dasktest
      dockerfile: Dockerfile
    command: python test_dask.py
    networks:
      - exp-net
    depends_on:
      - daskscheduler
      - daskworker1
      - daskworker2

  vectorapi:
    build: ./appVectorApi
    ports:
      - "18002:8000"
    networks:
      - exp-net
    depends_on:
      - qdrant
      - daskscheduler

  vectorvisualizer:
    build: ./appVectorVisualizer
    ports:
      - "18003:8000"
    networks:
      - exp-net
    depends_on:
      - qdrant

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672" # RabbitMQ messaging port
      - "15672:15672" # RabbitMQ Management UI
    networks:
      - exp-net
    environment:
      RABBITMQ_DEFAULT_USER: your_user
      RABBITMQ_DEFAULT_PASS: your_strong_password
    volumes:
      - /d/DockerVolumes/privacy/RareEvents/RabbitMQ:/var/lib/rabbitmq
    restart: unless-stopped

  spark-master:
    image: bitnami/spark:latest
    container_name: spark-master
    hostname: spark-master
    ports:
      - "17077:7077"
      - "18080:8080"
    volumes:
      - ./spark/conf:/opt/bitnami/spark/conf
      - D:/DockerVolumes/privacy/RareEvents/spark_logs:/opt/spark-events
    environment:
      - SPARK_MODE=master
      - SPARK_HISTORY_OPTS=-Dspark.eventLog.enabled=true -Dspark.eventLog.dir=/opt/spark-events
    networks:
      - exp-net

  spark-worker-1:
    image: bitnami/spark:latest
    container_name: spark-worker-1
    ports:
      - "18081:8081"
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    volumes:
      - ./spark/conf:/opt/bitnami/spark/conf
    networks:
      - exp-net

  spark-worker-2:
    image: bitnami/spark:latest
    container_name: spark-worker-2
    ports:
      - "18082:8081"
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    volumes:
      - ./spark/conf:/opt/bitnami/spark/conf
    networks:
      - exp-net

  spark-history:
    image: bitnami/spark:latest
    container_name: spark-history
    ports:
      - "18084:18080"
    command: >
      /opt/bitnami/spark/bin/spark-class
      org.apache.spark.deploy.history.HistoryServer
    environment:
      - SPARK_HISTORY_OPTS=-Dspark.history.fs.logDirectory=/opt/spark-events
    volumes:
      - D:/DockerVolumes/privacy/RareEvents/spark_logs:/opt/spark-events
    networks:
      - exp-net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "19090:9090" # Accessible from host at http://localhost:19090
    volumes:
      - ./prometheus:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      - exp-net

  grafana:
    image: grafana/grafana
    ports:
      - "13000:3000"
    networks:
      - exp-net

  csv_reader:
    build: ./csv_reader
    container_name: csv-reader
    depends_on:
      - spark-master
    volumes:
      - ./data:/data
      - D:/DockerVolumes/privacy/RareEvents/ocorrencias_parquet:/shared/ocorrencias_parquet
      - D:/DockerVolumes/privacy/RareEvents/spark_logs:/opt/spark-events
    networks:
      - exp-net

  parquet_reader:
    build: ./parquet_reader
    container_name: parquet-reader
    depends_on:
      - csv_reader
    volumes:
      - D:/DockerVolumes/privacy/RareEvents/ocorrencias_parquet:/shared/ocorrencias_parquet
    networks:
      - exp-net

networks:
  exp-net:

volumes:
  ollama-data:
  qdrant-data:
